@using QuizApplication.Web.ViewModels
@model QuestionAnswer

@if (Model.score != null)
{
    <div class="alert alert-success">You scored @Model.score% on this test.</div>
}
else if (Model.isError == true)
{
    <div class="alert alert-danger">An error occured trying to fetch the questions.</div>
}
else
{
    <div class="text-center">
        <!--Alerts hidden by default-->
        <div class="alert alert-warning submission_issue" id="submission_warning">Please select an answer.</div>
        <div class="alert alert-danger submission_issue" id="submission_error">Some unknown error occured saving your answer.</div>
        <!--Question text-->
        <h3>Question: @Model.questionText</h3>
        <div class="row">
            <!--Loop through each question option-->
            @foreach (AnswerDisplay option in Model.answers)
            {
                <div class="col-sm-3 col-md-6 input_div" style="text-align:right;">
                    <input name="answer" type="radio" question="@Model.id" value="@option.id" />
                </div>
                <div class="col-sm-9 col-md-6 input_div" style="text-align:left;">
                    <label>@option.answerText</label>
                </div>
            }
        </div>
        <button class="btn btn-info" id="submit_answer">Submit Answer</button>
    </div>

}
<div class="text-center">
    <button class="btn btn-warning" id="restart">Restart Quiz</button>
</div>


@section Scripts{
    <script type="text/javascript">

    $(document).ready(function () {

        //Deselect all radios on page load
        $("input[type='radio']").prop('checked', false);

        //Handler for answer submission button
        $('#submit_answer').click(function () {
            var model = {};
            model.optionId = $("input[name='answer']:checked").val();
            model.questionId = $("input[name='answer']:checked").attr("question");
            submitAnswer(model);
        });

        //Removes select asnwer warning if user selects an answer
        $("input[name='answer']").click(function () {
            $("#submission_warning").slideUp();
        });

        //Handler for restart quiz button
        $('#restart').click(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("RestartQuiz")',
                dataType: "text",
                success: function (data) {
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                }
            });
        });

    });

    function submitAnswer(answerObject) {
        //if no answer was selected, alert user
        if (typeof answerObject.optionId == "undefined") {
            $("#submission_warning").slideDown()
            setTimeout(function () {
                $("#submission_warning").slideUp()
            }, 5000);
            return;
        }
        //disable the submit button to prevent double saves
        $('#submit_answer').attr("disabled", true);
        //post the submitted answer to the server
        $.ajax({
            type: "POST",
            url: '@Url.Action("ProcessAnswer")',
            data: JSON.stringify(answerObject),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //reload the page to get next question
                location.reload();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //$("#submission_error").html(xhr.responseText);
                $("#submission_error").slideDown();
            }
        });
    }
    </script>
}

<style>
    .input_div {
        padding-left: 0px !important;
    }

    .submission_issue {
        display: none;
    }
</style>